<section class="container mt-5">
  <div class="Style Style__cart">
    <div class= "Style Style__cart Style__cart-heading  text-center">
      <h2>My Shopping bag</h2>
      <div class= "sm:grid grid-cols-4 gap-2">
        <div class="col-span-3"><hr>
          <% @arts.each do |art| %>
            <div class="flex items-center gap-4 mb-4">
              <div>
                <% if art.photo.attached? %>
                  <div class=" text-center mx-auto"><%= cl_image_tag art.photo.key, class: " w-80 rounded-lg " %></div>
                <% else %>
                  <div class=" text-center"><%= image_tag art.image_url, class: "w-80  rounded-lg " %></div>
                <% end %>
              </div>
              <div class="flex flex-col">
                <p class="font-semibold text-start text-sm">Creator: <%= art.artist.name %></p>
                <p class="text-start"><%= humanized_money_with_symbol art.price %></p>
                <p class="text-sm text-start"><%= art.description.capitalize %></p>
              </div>
            </div><hr>
          <% end %>
        </div>
        <div class="bg-white h-max rounded-lg w-[24rem] text-start py-[34px] px-[32px] mx-auto shadow">
          <h6 class="font-black text-md">Order Information</h6><hr>
          <div class="flex justify-between">
            <p>Total items:</p>
            <p>3</p>
          </div>
          <div class="flex justify-between">
            <p>Total price:</p>
            <p>£0.00GBP</p>
          </div>
          <%= button_to "Continue to checkout",  orders_path,class:"PrimaryButton w-100 py-2.5 rounded-lg inline-flex items-center justify-center w-max", method: :post  %>
          <p class="text-xs pt-3 opacity-80">Price is in British Pounds. Price excludes sales tax.</p>
        </div>
      </div>
    </div>
  </div>
</section>
