<%= render "devise/shared/navbar", artist: current_artist %>
<div class=" container">
  <div class="head-content mx-auto mt-5">
    <% if @artist.photo.attached? %>
      <%= cl_image_tag @artist.photo.key, class: "avatar-large", alt: "avatar-large" %>
    <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    <% end %>
    <div>
      <h6><%= @artist.name %></h6>
      <a href="#">Available for hire <i class="fa-solid fa-circle-check"></i></a>
      <p><%= @artist.bio %></p>
      <p><i class="fa-solid fa-location-dot" style="color:#6c757d"></i> <%= @artist.location.capitalize %></p>
      <p><span style="font-weight:bold">160</span> Followers</p>
      <div class="d-flex artist-show-header" style= "gap:6px">
        <p>Follow</p>
        <p>Message</p>
      </div>
    </div>
  </div><hr>
  <div class="gallery mt-5">
    <% @artist.art.each do |art| %>
      <div>
        <%# <%= link_to art_path(art) do  %>
          <%# <div><%= image_tag art.image_url, class: "homepage-image img-fluid gallery__img"</div> %>
        <%# <% end %>
        <%= render "devise/shared/modal-home", art: art %>
        <div class="header-item d-flex align-items-center justify-content-between mt-1">
          <div class= "d-flex" style="gap: 0.8rem">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
            <div><p><%= link_to art.artist.name, artist_path(art.artist) %></p></div>
          </div>
          <div class= "header-icon d-flex" style="gap: 0.8rem">
            <div><i class="fa-solid fa-heart"></i> 0</div>
            <div><i class="fa-solid fa-square-plus"></i></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
