<%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropone">
  Launch static backdrop modal
</button> %>
<%= link_to "#" do  %>
  <% if art.photo.attached? %>
    <div><%= cl_image_tag art.photo.key, class: "homepage-image img-fluid gallery__img", :'data-bs-toggle' => "modal", :'data-bs-target' => "#myModal-#{art.id}" %></div>
  <% else %>
    <div><%= image_tag art.image_url, class: "homepage-image img-fluid gallery__img", :'data-bs-toggle' => "modal", :'data-bs-target' => "#myModal-#{art.id}" %></div>
  <% end %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal-<%= art.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content mx-auto" id="modalcustome">
      <div class="modal-header">
        <div class="modal-title d-flex" id="staticBackdropLabel">
          <% if art.artist.photo.attached? %>
            <%= cl_image_tag art.artist.photo.key, class: "avatar", alt: "avatar" , style: "height:3rem"%>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
          <% end %>
          <div>
            <p><%= art.artist.name %></p>
            <a href="#">Available for hire</a>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center align-items-center mb-5">
        <div class="modal-custome-body">
          <p><%= art.description.capitalize %></p>
          <% if art.photo.attached? %>
            <div class="mx-auto text-center"><%= cl_image_tag art.photo.key, class: " image-show mx-auto" %></div>
          <% else %>
            <div class="mx-auto text-center"><%= image_tag art.image_url, class: " image-show mx-auto" %></div>
          <% end %>
        </div>
        <div class="purchase-field">
          <h5>PURCHASE A LICENSE</h5>
           <p>£<%= art.price  %>.00 GBP </p>
          <button type="button" class="btn btn-primary">ADD TO BASKET</button>
        </div>
      </div>
      <div class="text-start modal-image-cards">
        <h5>Discover Similar Artist</h5>
        <div class="container gallery mt-4">
          <% @art4.each do |art| %>
            <div>
              <div class="header-item d-flex align-items-center justify-content-between">
                <div class= "d-flex" style="gap: 0.8rem">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
                  <div><p><%= link_to art.artist.name, artist_path(art.artist) %></p></div>
                </div>
                <div class= "header-icon d-flex" style="gap: 0.8rem">
                  <div><i class="fa-solid fa-heart"></i> 0</div>
                  <div><i class="fa-solid fa-square-plus"></i></div>
                </div>
              </div>
              <div><%= image_tag art.image_url, class: "homepage-image img-fluid gallery__img" %></div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
