
<%= link_to "Submit your work", "javascript:void(0)", class: "no-underline text-black font-semibold Navigation__inner-link", :'data-bs-toggle' => 'modal', :'data-bs-target' => "#staticBackdrop" %>

<!-- Modal -->

<div class="modal fade relative" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content mx-auto">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a new project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([current_artist, @art]) do |f| %>
          <%= f.input :description %>
          <%= f.input :price, :input_html => { :class => 'border-[#3449B8]'} %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
        <% end %>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> %>
    </div>
  </div>
</div>
