
<%= link_to "javascript:void(0)" do  %>
  <% if art.photo.attached? %>
    <div><%= cl_image_tag art.photo.key, class: "homepage-image img-fluid gallery__img", :'data-bs-toggle' => "modal", :'data-bs-target' => "#myModal-#{art.id}" %></div>
  <% else %>
    <div><%= image_tag art.image_url, class: "homepage-image img-fluid gallery__img", :'data-bs-toggle' => "modal", :'data-bs-target' => "#myModal-#{art.id}" %></div>
  <% end %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal-<%= art.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content mx-auto" id="modalcustome">
      <div class="modal-header">
        <div class="grow-[0.9] ">
          <div class=" flex justify-between items-center">
            <div class="modal-title d-flex" id="staticBackdropLabel">
              <% if art.artist.photo.attached? %>
                <%= cl_image_tag art.artist.photo.key, class: "rounded-full h-[3rem] w-[3rem] object-cover", alt: "avatar" %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
              <% end %>
              <div>
                <p><%= art.artist.name %></p>
                <div class= "flex gap-2">
                  <a href="#" class=" decoration underline-offset-8 text-black decoration-[#3449B8]  hover:decoration-2">Available for hire </a>
                  <div class="relative">
                    <i class="fa-solid fa-certificate text-blue-600"></i>
                    <i class="fa-solid fa-check text-[10px] text-white absolute top-1 left-[0.21rem]"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     <div class="Modal__responsive">
        <div class="modal-body Style__ShowPage-flex text-center sm:flex justify-around  mb-5">
          <div class="modal-custome-body Style__ShowPage-heading">
            <% if art.photo.attached? %>
              <div class=" text-center mx-auto"><%= cl_image_tag art.photo.key, class: " image-show mb-2 " %></div>
            <% else %>
              <div class=" text-center"><%= image_tag art.image_url, class: " image-show mb-3" %></div>
            <% end %>
            <p class="text-center"><%= art.description.capitalize %></p>
          </div>
          <div class=" card purchase-field text-start mx-auto shadow-md">
            <div class="d-flex justify-between">
              <h6 class="font-black">Purchase a license</h6>
              <h6 class="font-black">£<%= art.price  %>GBP </h6>
            </div>
            <p class="opacity-70 text-sm">Restricted to 1 user</p>
            <p class="opacity-70">Best offer on pricing</p>
            <% if current_artist %>
              <% if current_artist.art.include?(art) %>
                  <div class="flex justify-between">
                    <%= link_to "Edit", edit_artist_art_path(current_artist, art), class: "no-underline font-semibold" %>
                    <%= link_to "Delete", art_path(art), class: "no-underline font-semibold", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                  </div>
                <% else %>
                  <%= button_to "ADD TO BASKET", cart_art_path(art), class: " PrimaryButton w-100 py-2.5 rounded-lg inline-flex items-center justify-center w-max ",  method: :post %>
              <% end %>
            <% else %>
              <%= link_to "ADD TO BASKET", new_artist_session_path, class: "PrimaryButton w-100 py-2.5 rounded-lg inline-flex items-center justify-center w-max no-underline hover:text-white"%>
            <% end %>
            <span class="text-xs pt-3 opacity-80"><p> Price is in British Pounds. Price excludes sales tax. </p></span>
          </div>
        </div>
     </div>
      <div class="text-start modal-image-cards">
        <h5>Discover Similar Artist</h5>
        <div class="container grid grid-cols-1 sm:grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-4 mt-4">
          <% @art4.each do |art| %>
            <div>
              <div class="header-item d-flex align-items-center justify-content-between">
                <div class= "d-flex" style="gap: 0.8rem">
                  <%= cl_image_tag art.artist.photo.key, class: "avatar", alt: "avatar" , style: "height:1.3rem"%>
                  <div><p><%= link_to art.artist.name, artist_path(art.artist) %></p></div>
                </div>
                <div class= "header-icon d-flex" style="gap: 0.8rem">
                  <div><i class="fa-solid fa-heart"></i> 0</div>
                  <div><i class="fa-solid fa-square-plus"></i></div>
                </div>
              </div>
              <% if art.photo.attached? %>
                <div><%= cl_image_tag art.photo.key, class: "homepage-image img-fluid gallery__img" %></div>
              <% else %>
                <div><%= image_tag art.image_url, class: "homepage-image img-fluid gallery__img" %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
