<div data-controller="navbar">
<nav class="Navigation bg-white px-3 py-2">
  <div class="Navigation__inner Navigation__inner-displayfirst sm:flex justify-between items-center">
    <div class="Navigation__inner Navigation__inner-displaysecond flex justify-between items-center sm:block">
      <h5 class="Navigation__inner Navigation__inner-logo font-semibold">Createlogo</h5>
      <div class="Navigation__inner Navigation__inner-menu sm:hidden" data-action="click->navbar#displayList">
        <i class="fa-solid fa-bars cursor-pointer"></i>
      </div>
    </div>
    <div>
      <ul class="Navigation__inner Navigation__inner-items hidden pl-0  sm:block  mb-0   " data-navbar-target="listItem">
        <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:py-0 sm:inline-block ">
          <a class="no-underline text-black font-semibold Navigation__inner-link" href="#">Hire a Creative</a>
        </li>
        <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:py-0 sm:inline-block sm:ml-5">
          <a class="no-underline text-black font-semibold Navigation__inner-link" href="#">Submit your work</a>
        </li>
        <% if !current_artist %>
          <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:py-0 sm:inline-block sm:ml-5">
            <%= link_to "Login", new_artist_session_path, class: "no-underline text-black font-semibold Navigation__inner-link" %>
        </li>
        <% end %>
        <% if !current_artist %>
          <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:py-0 sm:inline-block sm:ml-5 no-underline">
            <%= link_to "SignUp", new_artist_session_path, class: "no-underline text-black font-semibold Navigation__inner-link" %>
          </li>
        <% end %>
        <% if current_artist %>
          <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:py-0 sm:inline-block sm:ml-5 no-underline">
            <%= link_to mycart_artist_path(current_artist), class: "no-underline text-inherit" do %>
              <div class="d-flex">
                <p class="border rounded-lg py-2.5 px-3 mb-0"><i class="fa-solid fa-basket-shopping"></i></p>
                <% if session[:cart].nil? %>
                  <h6 class="font-black py-1 px-1.5 rounded-full  text-white absolute cart_icon">0</h6>
                <% else %>
                  <h6 class="font-black py-1 px-1.5 rounded-full  text-white absolute cart_icon"><%= session[:cart].count %></h6>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
        <% if current_artist %>
          <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:py-0 sm:inline-block sm:ml-5 no-underline relative sm:top-[1.2rem]">
            <div class="Navigation__inner Navigation__inner-avatar p-0.5 rounded-full w-max">
              <a class="block bg-white p-0.5 rounded-full w-max" href="#">
                <img class="h-8 w-8 rounded-full" src="https://kitt.lewagon.com/placeholder/users/cveneziani" alt="avatar">
              </a>
            </div>
          </li>
        <% end %>
        <% if current_artist %>
          <li class="Navigation__inner Navigation__inner-items Navigation__inner-items-list py-2 sm:py-0 sm:inline-block sm:ml-5 no-underline">
            <%= link_to "Signout", destroy_artist_session_path, class: "no-underline text-black font-semibold opacity-40", data: {turbo_method: :delete} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</div>
