<%= render "devise/shared/navbar", artist: current_artist %>
<div class="Banner">
  <div class="Banner__video">
    <%= video_tag "secondbanner.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>
  <div class="Banner-heading relative">
    <div>
      <h2 class="font-bold pt-40">Explore the best of Arts and Images</h2><br>
      <h6> Thousands of creatives are selling and getting paid there worth</h6>
    </div>
    <%= form_tag arts_path, method: :get, class: "d-flex w-8/12 mx-auto relative" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form-control-full",
        placeholder: "Search..."
      %>
      <%= button_tag :submit, class: "Banner-heading-button"  do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="Style py-20">
    <div class="Style__Row-heading mb-8 flex justify-between">
      <h4 class="font-bold">Explore</h4>
      <%= link_to arts_path, class: " font-bold underline decoration underline-offset-8 text-black decoration-[#3449B8] text-black  hover:decoration-2" do %>
        View more designs <i class="fa-solid fa-right-long ml-1"></i>
      <% end %>
    </div>
    <div class="grid Style__grid  grid-cols-1  gap-3 md:grid-cols-3 lg:grid-cols-4 ">
      <% @arts.each do |art| %>
        <div class= "Style__grid--card relative">
          <%= render "devise/shared/modal-home", art: art %>
          <%= render "devise/shared/svg" , art: art %>
          <div class="header-item d-flex align-items-center justify-content-between mt-1">
            <div class= "d-flex" style="gap: 0.8rem">
              <%= cl_image_tag art.artist.photo.key, class: "avatar", alt: "avatar" , style: "height:1.3rem"%>
              <div><p><%= link_to art.artist.name, artist_path(art.artist) %></p></div>
            </div>
            <div class= "header-icon d-flex" style="gap: 0.8rem">
              <div><p class="text-[#3449B8] font-bold">£<%= art.price  %></p></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
