<%= render "devise/shared/navbar", artist: current_artist %>
<div class="Banner__mini w-full h-10 mt-[7rem] flex justify-center items-center">
  <h6 class="Banner__mini-heading text-white  text-center"><span class="mr-4">Inspire </span><span class="mr-4">Search </span><span class="mr-4">Design </span><span class="mr-4">Create </span></h6>
</div>
<div class="container">
  <div class=" container Style__Row-heading mb-8 mt-12 "><h4 class="font-bold">Find Arts</h4></div>
      <%= form_tag arts_path, method: :get, class: "d-flex w-full mx-auto" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control form-control-full form-control-style",
          placeholder: "Search..."
        %>
        <%= button_tag :submit, class: "Banner-heading-button"  do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
  </div>
  <div class="container text-center mt-3">
    <% if params[:query] %>
      <h2 class="font-black"><%= params[:query].capitalize %></h2>
    <% end %>
  </div>

  <div class="container  mt-5 grid grid-cols-1 sm:grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-4">
    <% @arts.each do |art| %>
      <div class= "Style__grid Style__grid--card relative ">
        <%= render "devise/shared/modal-home", art: art %>
        <%= render "devise/shared/svg" , art: art %>
        <div class="header-item d-flex align-items-center justify-content-between mt-1 <%= 'relative top-[-20px]' if current_artist %>">
          <div class= "d-flex" style="gap: 0.8rem">
            <%= cl_image_tag art.artist.photo.key, class: "avatar", alt: "avatar" , style: "height:1.3rem"%>
            <div><p><%= link_to art.artist.name, artist_path(art.artist) %></p></div>
          </div>
          <div class= "header-icon d-flex" style="gap: 0.8rem">
            <div><p class="text-[#3449B8] font-bold">£<%= art.price  %></p></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/footer" %>
